.spinner {
  // animation: spin 5s linear infinite;
  // animation-name: spin;
  animation: new forwards linear infinite;
  animation-delay: 0s;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
  @keyframes spin {
    // 0% {
    //   transform: rotateZ(0deg);
    // }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes new {
    // 0% {
    //   transform: rotateZ(0deg);
    // }
    100% {
      transform: rotate(360deg);
    }
  }
}
